@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
  background-image: linear-gradient(to right,#e59bfc,#f9ff21);
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid rgb(99, 112, 230);
  border-radius: 9px;
  cursor: pointer;
  background-image: linear-gradient(to right,#ffd615,#f9ff21);
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    background-image: linear-gradient(to right,#ffd615,#f9ff21);
}

